$background: #e5e5e5;
$title: #1a1c1d;
$header: #6b59cc;
$header-border: #eceef5;
$white: #ffffff;
$oval: #f6933e;
$line: #9698d6;
$score: #81c926;
$index: #E0E0E0;
$table-score: #1B1D1A;
$red: #FF5858;
$black: #000000;
